.index {
  // padding: 15px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f3f4f9;
  :global {
    .header {
      display: flex;
      height: 56px;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      .project {
        position: absolute;
        left: 16px;
      }
      .search {
        width: 400px;
        height: 32px;
      }
      .action {
        height: 32px;
        display: flex;
        position: absolute;
        right: 16px;
        cursor: pointer;
        .icon {
          margin-left: 8px;
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #d9dae1;
          border-radius: 4px;
        }
      }
    }
    .filterBox {
      text-align: right;
      margin-bottom: 10px;
    }
    .table {
      padding: 24px;
      tr {
        cursor: pointer;
        td.ant-table-cell-row-hover {
          background-color: #edeef3;
        }
      }
      .tableColorOne {
        background-color: #fafafa;
      }
    }

    .itemList {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-gap: 24px;
      padding: 24px;
      .itemBox {
        display: flex;
        flex-direction: column;
        width: 344px;
        height: 242px;
        background-color: #ffffff;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        .action {
          position: absolute;
          right: 10px;
          top: 10px;
        }
        img {
          width: 100%;
          height: calc(100% - 40px);
          // flex: 1;
        }
        .name {
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px solid #e3e8ee;
        }
      }
    }
    .listPagination {
      text-align: right;
      margin-right: 24px;
      padding-bottom: 24px;
    }
  }
}
