<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <style class='darkreader'>
      .ignore-render{
        background-color: white!important
      }
  </style>
  <title>code App</title>
</head>
<body>
  <div id="root"></div>
  <script src="/lib/vue3.2.js"></script>
  <script src="/lib/stylus-compile.js"></script>
  <script src="/lib/sass/sass.js"></script>
</body>
</html>